<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="tests/bootstrap.php" cacheDirectory=".phpunit.cache">
  <php>
    <server name="KERNEL_CLASS" value="App\Kernel"/>
    <server name="DATABASE_URL" value="mysql://root:root@symfony_db:3306/application?serverVersion=10.4.32-MariaDB"/>
    <ini name="display_errors" value="1"/>
    <ini name="error_reporting" value="-1"/>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
    <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
    <server name="SYMFONY_PHPUNIT_VERSION" value="9.6"/>
    <server name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    <!-- ###+ symfony/google-mailer ### -->
    <!-- Gmail SHOULD NOT be used on production, use it in development only. -->
    <!-- MAILER_DSN=gmail://USERNAME:PASSWORD@default -->
    <!-- ###- symfony/google-mailer ### -->
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <extensions>
    </extensions>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
